#formulario {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 50%;
}

#formulario2 {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 90%;
}

#formulario h1 {
    margin: 30px;
    padding: 0;
}

#formulario2 h1 {
    margin: 30px;
    padding: 0;
}

.form-label {
    color: rgba(204, 211, 226);
    font-size: 20px;
}


.form-control {
    width: 85%;
    font-size: 18px;
    margin: auto;
}

#tabla {
    text-align: left;
}

#inicio .btn-get-started {
    margin-left: 25px;
    margin-bottom: 25px;
}

#inicio h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 994px) {
    #inicio h1 {
        font-size: 25px;
        line-height: 36px;
        margin: 10px;
    }

    .form-control {
        font-size: 10px;
    }

    .form-label {
        font-size: 15px;
    }

    #formulario {
        width: 40%;
    }

}

.loginfixed {
    margin-top: 360px;
    transition: 0.5s;
}

@media (min-width: 994px) {
    .loginfixed {
        margin-top: 75px;
    }
}

.contenedor_formulario {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 50%;
    height: auto;
    /* Permite que la altura sea dinámica */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .contenedor_info {
        transform: scale(0.50);
        /* Escala el div y su contenido al 50% */
        transform-origin: top center;
        /* Escala desde la parte superior central */
    }

    .contenedor_formulario {
        width: 80%;
        /* Ajusta el ancho del formulario en pantallas pequeñas */
    }
}

/* Consulta de medios para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor_info {
        transform: scale(0.50);
        /* Escala el div y su contenido al 75% */
        transform-origin: top center;
        /* Escala desde la parte superior central */
    }

    .contenedor_formulario {
        width: 60%;
        /* Ajusta el ancho del formulario en pantallas medianas */
    }
}

.inicio {
    width: 100%;
    height: 170vh;
    background: url(../img/fondo.png) top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

@media (min-width: 1024px) {
    .inicio {
        background-attachment: fixed;
    }
}

.inicio:before {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    content: "";
}

.inicio .inicio-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.inicio h1 {
    margin: 0 0 10px 0;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {
        color: rgba(255, 255, 255, 0);
    }

    to {
        color: rgb(255, 255, 255);
    }
}

.inicio h2 {
    color: #eee;
    font-size: 24px;
}

@media (max-width: 768px) {
    .inicio h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.inicio .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.inicio .btn-get-started:hover {
    background: #c9592d;
    border: 2px solid #c9592d;
    color: #fff;
}

@media (max-width: 994px) {
    .inicio .btn-get-started {
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 6px;
        border: 2px solid #fff;
        color: #fff;
    }
}

/* Estilos específicos para pantallas menores o iguales a 768px */
@media (max-width: 730px) {
    .inicio{
        height: 200vh;
    }
    .inicio h1{
        font-size: 30px;
    }
}

/* Consulta de medios para pantallas medianas (tabletas) */
@media (min-width: 730px) and (max-width: 800px) {
    .inicio{
        height: 190vh;
    }
    .inicio h1{
        font-size: 30px;
    }
}

/* Consulta de medios para pantallas medianas (tabletas) */
@media (min-width: 800px) and (max-width: 1200px) {
    .inicio{
        height: 185vh;
    }
    .inicio h1{
        font-size: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .inicio{
        height: 180vh;
    }
    .inicio h1{
        font-size: 30px;
    }
}

