
#formulario {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 50%;
}

#formulario2 {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 90%;
}
#formulario h1{
    margin: 30px;
    padding: 0;
}

#formulario2 h1{
    margin: 30px;
    padding: 0;
}

.form-label {
    color: rgba(204, 211, 226);
    font-size: 20px;
}


.form-control{
    width: 85%;
    font-size: 18px;
    margin: auto;
}

#tabla{
    text-align: left;
}

#inicio .btn-get-started {
    margin-left: 25px;
    margin-bottom: 25px;
}

#inicio h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 994px) {
    #inicio h1 {
      font-size: 25px;
      line-height: 36px;
      margin: 10px;
      
     
    }
    .form-control{
        font-size: 10px;
    }

    .form-label{
        font-size: 15px;
    }
    #formulario{
        width: 40%;
    }
    
  }

.loginfixed{
    margin-top: 360px;
    transition: 0.5s;
}

@media (min-width: 994px){
    .loginfixed {
        margin-top: 75px;
    }
}

.contenedor_formulario {
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    width: 50%;
    height: auto;
    /* Permite que la altura sea dinámica */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Consulta de medios para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
    .contenedor_info {
        transform: scale(0.90);
        /* Escala el div y su contenido al 50% */
        transform-origin: top center;
        /* Escala desde la parte superior central */
    }

    .contenedor_formulario {
        width: 80%;
        /* Ajusta el ancho del formulario en pantallas pequeñas */
    }
}

/* Consulta de medios para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor_info {
        transform: scale(0.90);
        /* Escala el div y su contenido al 75% */
        transform-origin: top center;
        /* Escala desde la parte superior central */
    }

    .contenedor_formulario {
        width: 60%;
        /* Ajusta el ancho del formulario en pantallas medianas */
    }
}